@import '../../scss/base/all' ;
@import '../../scss/pages/all' ;

.portfolio-cont {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 2rem;
	row-gap: 2rem;
	padding: 2rem 2rem 1rem 2rem;
	margin: 0 auto;

	figure {
		box-shadow: 3px 2px 15px 0px rgba(0, 0, 0, 0.54);
		border-radius: 0.3rem;
		max-height: 20rem;
		max-width: 17rem;
	}

	img {
		object-fit: cover;
	}

	@media (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
	}

	@media (max-width: 500px) {
		grid-template-columns: 1fr;
		padding: 1rem;
	}
}
