// Illus
// $lilac: #aa96da;
// $mint: #c5fad5;
// $yellowy: #F3EFA1;
// $darkpurple: #4053a5;
// $lightpink: #f7c5cc;
$color-redy: #cc313d;
// $pewter: #00A6C7;
$darkpink: #df678c;
// $color-purplo: #355070;
// $color-pink: #b56576;
// $color-imperial: #e56b6f;
$color-mint: #4aedc2;
$color-black: #232323;
$color-white: #ebebd9;
$linear-blue: linear-gradient(
	90deg,
	rgba(9, 9, 121, 1) 0%,
	rgba(96, 115, 224, 1) 100%
);
$linear-pink: linear-gradient(90deg, #e41352 35%, #e41389 100%);
$linear-yellow: linear-gradient(
	90deg,
	rgb(245, 201, 26) 0%,
	rgb(255, 109, 25) 100%
);

//TODO: Find better and accesible colors
$color-yellow: #f5c91a;
$color-fuscia: #e41352;
$color-klein: #420fe7;
$color-green: #a0ff1f;
$color-red: #d41434;
$color-pink: #df678c;
$color-orange: #ff9b19;
// // #FDD781
// // #6073E0
// // #420FE7
// // #FAFF19
// // #CC0052
// // #F1FF56
// // #FF9B19
// // #C8AFD1

// background-color: #e5e5f7;
// opacity: 0.4;
// background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(to right, #444cf7 2px, #e5e5f7 2px);
// background-size: 40px 40px;
