// @import url('https://fonts.googleapis.com/css2?family=AbeeZee:wght@300;400;600&display=swap'); Archivo, Asistant, Ballo, BeVietmnam, Biryani, Mulish, Montserrat
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
// Tipografía
$headlines: 'Poppins', serif;
$texts: 'Open Sans', sans-serif;

@mixin text-light {
	font-family: $texts;
	font-weight: 300;
}
@mixin text-regular {
	font-family: $texts;
	font-weight: 400;
}
@mixin text-bold {
	font-family: $texts;
	font-weight: 700;
}
@mixin text-extraBold {
	font-family: $texts;
	font-weight: 800;
}
@mixin title-light {
	font-family: $headlines;
	font-weight: 200;
}
@mixin title-regular {
	font-family: $headlines;
	font-weight: 400;
}
@mixin title-bold {
	font-family: $headlines;
	font-weight: 900;
}
